<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Examples</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900%7CRoboto+Mono:500%7CMaterial+Icons" rel="stylesheet" media="all">
    <link th:href="@{/webjars/vuetify/2.0.11/dist/vuetify.css}" rel="stylesheet">
    <link th:href="@{/webjars/mdi__font/4.0.96/css/materialdesignicons.css}" rel="stylesheet">
    <link th:href="@{/assets/css/default.css}" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script th:src="@{/webjars/vue/2.6.10/dist/vue.js}"></script>
<script th:src="@{/webjars/vue-router/3.1.1/dist/vue-router.js}"></script>
<script th:src="@{/webjars/vuetify/2.0.11/dist/vuetify.js}"></script>
<script th:src="@{/webjars/axios/0.19.0/dist/axios.min.js}"></script>
<script th:src="@{/assets/js/main.js}" type="module"></script>
</body>
</html>